*.pyc
*.log
bcap/logs
bcap/management/data/test_user_list.py
bcap/export_deliverables
bcap/cantaloupe/*
bcap/media/build/
bcap/uploadedfiles/*
bcap/settings_local.py
bcap/staticfiles
webpack/webpack-stats.json

*.egg-info
.DS_STORE
.tsconfig-paths.json
.frontend-configuration-settings.json
coverage/

# Common resources that are copied from arches_common
node_modules
.vscode/
CACHE

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Dev tools
.idea/