*.pyc
*.log
bcap/logs
bcap/management/data/test_user_list.py
bcap/export_deliverables
bcap/cantaloupe/*
bcap/media/build/
bcap/uploadedfiles/*
bcap/settings_local.py
bcap/staticfiles
tests/search_components/cross_model_advanced_search/snapshot/test_cases.json
tests/search_components/cross_model_advanced_search/snapshot/cross_model_search_baselines.json
webpack/webpack-stats.json

*.egg-info
.DS_STORE
coverage/

frontend_configuration

# Packaging
build/
dist/

# Common resources that are copied from arches_common
node_modules
.vscode/
CACHE

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.cache/

# Dev tools
.idea/
