{
    "plugins": ["prettier-plugin-jinja-template"],
    "htmlWhitespaceSensitivity": "ignore",
    "singleQuote": true,
    "singleAttributePerLine": true,
    "tabWidth": 4,
    "overrides": [
        {
            "files": ["**/templates/**/*.html", "**/templates/**/*.htm"],
            "options": {
                "parser": "jinja-template",
                "printWidth": 120
            }
        }
    ]
}
