name: bcap7-6
services:
  bcap:
    container_name:  bcap7-6
    image: bcgov/bcap7-6
    build:
      context: ..
      dockerfile: nr-bcap/Dockerfile
    command: run_arches
    volumes:
      - ../arches/:/web_root/arches
      - ./:/web_root/bcap
      - ../bcgov-arches-common/:/web_root/bcgov-arches-common
      - ../arches-component-lab/:/web_root/arches-component-lab
      - ../arches-controlled-lists/:/web_root/arches-controlled-lists
      - ../arches-querysets/:/web_root/arches-querysets
    env_file:
      - ./.env
      - ./docker/env_file.env
    ports:
      - 5690:5678
      # - 82:80            # moved to bcap-proxy
      - 446:443
      - 5175:5175        # Vite dev server (optional direct access)
    stdin_open: true
    tty: true

  bcap-proxy:
    container_name: bcap-proxy7-6
    image: nginx:1.25-alpine
    depends_on:
      - bcap
    ports:
      - "82:80"          # expose the proxy on host:82
    volumes:
      - ./docker/nginx/dev.conf:/etc/nginx/conf.d/default.conf:ro
    restart: unless-stopped

  bcap-pg_tileserv:
    container_name: bcap-pg_tileserv7-6
    hostname: bcap-pg_tileserv7-6
    image: pramsey/pg_tileserv:latest
    env_file:
      - ./docker/pg_tileserv/pg_tileserv.env
    ports:
      - "7802:7800"
    stdin_open: true
    tty: true

  bcap-pg_featureserv:
    container_name: bcap-pg_featureserv7-6
    hostname: bcap-pg_featureserv7-6
    image: pramsey/pg_featureserv:latest
    env_file:
      - ./docker/pg_featureserv/pg_featureserv.env
    ports:
      - "9002:9000"
    stdin_open: true
    tty: true

networks:
  default:
    external: true
    name: arches7-5-2-dev

volumes:
  arches-log-bcap7-6:
  arches-static-bcap7-6:
