<div class="details-card-section">
    <div class="details-icons">
        <a data-bind="click: function () { window.print() }" style="cursor:pointer;">
            <span>Print</span>
            <i class="fa fa-print"></i>
        </a>
        <a data-bind="click: function () { helpactive(true) }" style="cursor:pointer;">
            <span data-bind="text: $root.translations.help"></span>
            <i class="fa fa-question-circle"></i>
        </a>
        <a data-bind="click: function () { showAllFields(!showAllFields()) }, hidden: isAnonymous()"
           style="cursor:pointer;"
        >
            <span data-bind="text: fullViewText"></span>
            <i class="fa" data-bind="css: {'fa-eye-slash': showAllFields, 'fa-eye': !showAllFields()}"></i>
        </a>
    </div>
    <div class="rp-card-section">
        <!-- ko let: {targetSection: 'spatial_view_section', sectionController: spatialViewVisible} -->
        <span class="rp-tile-title">1. Spatial View</span>
        <i class="fa report-expander print-hide fa-angle-down" tabindex="0" role="button" data-target="spatial_view_section" data-bind="onEnterkeyClick, onSpaceClick, let: {sectionController: spatialViewVisible, targetSection: 'spatial_view_section'},
                    css: {'fa-angle-down': sectionController(), 'fa-angle-right': !sectionController()},
                    click: function() {sectionController(!sectionController());},
                    attr: {
                        'aria-expanded': sectionController().toString(),
                        'aria-controls': targetSection,
                        'aria-label': 'Toggle Site Name section',
                    }
                "></i>

        <div class="rp-card-section" data-bind="visible: sectionController, attr: {id: targetSection}">
            <div style="display: inline-flex; width: 100%; justify-content: space-between;">
            </div>
        </div>
        <!-- /ko -->
    </div>

    <div class="rp-card-section">
        <!-- ko let: {targetSection: 'identification_section', sectionController: identificationVisible} -->
        <span class="rp-tile-title">2. ID & Registration</span>
        <i class="fa report-expander print-hide fa-angle-down" tabindex="0" role="button" data-target="identification_section" data-bind="onEnterkeyClick, onSpaceClick, let: {sectionController: identificationVisible, targetSection: 'identification_section'},
                    css: {'fa-angle-down': sectionController(), 'fa-angle-right': !sectionController()},
                    click: function() {sectionController(!sectionController());},
                    attr: {
                        'aria-expanded': sectionController().toString(),
                        'aria-controls': targetSection,
                        'aria-label': 'Toggle Site Name section',
                    }
                "></i>

        <div class="rp-card-section" data-bind="visible: sectionController, attr: {id: targetSection}">
            <div style="display: inline-flex; width: 100%; justify-content: space-between;">
                <dl class="dl-horizontal">
                    <dt>Borden Number</dt>
                    <dd data-bind="component: { name: 'non-localized-text-widget',
                                            params: { value: getFirstNodeValue('borden_number'), state: 'display_value'}
                                            }"></dd>
                </dl>
            </div>
        </div>
        <!-- /ko -->
    </div>

    <div class="rp-card-section">
        <!-- ko let: {targetSection: 'site_visits_section', sectionController: siteVisitsVisible} -->
        <span class="rp-tile-title">3. Site Visits</span>
        <i class="fa report-expander print-hide fa-angle-down" tabindex="0" role="button" data-target="site_visits_section" data-bind="onEnterkeyClick, onSpaceClick, let: {sectionController: siteVisitsVisible, targetSection: 'site_visits_section'},
                    css: {'fa-angle-down': sectionController(), 'fa-angle-right': !sectionController()},
                    click: function() {sectionController(!sectionController());},
                    attr: {
                        'aria-expanded': sectionController().toString(),
                        'aria-controls': targetSection,
                        'aria-label': 'Toggle Site Visits section',
                    }
                "></i>

        <div class="rp-card-section" data-bind="visible: sectionController, attr: {id: targetSection}">
            <div style="display: inline-flex; width: 100%; justify-content: space-between;">
            </div>
        </div>
        <!-- /ko -->
    </div>

    <div class="rp-card-section">
        <!-- ko let: {targetSection: 'location_section', sectionController: locationVisible} -->
        <span class="rp-tile-title">4. Location</span>
        <i class="fa report-expander print-hide fa-angle-down" tabindex="0" role="button" data-target="location_section" data-bind="onEnterkeyClick, onSpaceClick, let: {sectionController: locationVisible, targetSection: 'location_section'},
                    css: {'fa-angle-down': sectionController(), 'fa-angle-right': !sectionController()},
                    click: function() {sectionController(!sectionController());},
                    attr: {
                        'aria-expanded': sectionController().toString(),
                        'aria-controls': targetSection,
                        'aria-label': 'Toggle Location section',
                    }
                "></i>

        <div class="rp-card-section" data-bind="visible: sectionController, attr: {id: targetSection}">
            <div style="display: inline-flex; width: 100%; justify-content: space-between;">
            </div>
        </div>
        <!-- /ko -->
    </div>

    <div class="rp-card-section">
        <!-- ko let: {targetSection: 'site_boundary_section', sectionController: siteBoundaryVisible} -->
        <span class="rp-tile-title">5. Site Boundary</span>
        <i class="fa report-expander print-hide fa-angle-down" tabindex="0" role="button" data-target="site_boundary_section" data-bind="onEnterkeyClick, onSpaceClick, let: {sectionController: siteBoundaryVisible, targetSection: 'site_boundary_section'},
                    css: {'fa-angle-down': sectionController(), 'fa-angle-right': !sectionController()},
                    click: function() {sectionController(!sectionController());},
                    attr: {
                        'aria-expanded': sectionController().toString(),
                        'aria-controls': targetSection,
                        'aria-label': 'Toggle Site Boundary section',
                    }
                "></i>

        <div class="rp-card-section" data-bind="visible: sectionController, attr: {id: targetSection}">
            <div style="display: inline-flex; width: 100%; justify-content: space-between;">
            </div>
        </div>
        <!-- /ko -->
    </div>

    <div class="rp-card-section">
        <!-- ko let: {targetSection: 'arch_data_section', sectionController: archDataVisible} -->
        <span class="rp-tile-title">6. Archaeological Data</span>
        <i class="fa report-expander print-hide fa-angle-down" tabindex="0" role="button" data-target="arch_data_section" data-bind="onEnterkeyClick, onSpaceClick, let: {sectionController: archDataVisible, targetSection: 'arch_data_section'},
                    css: {'fa-angle-down': sectionController(), 'fa-angle-right': !sectionController()},
                    click: function() {sectionController(!sectionController());},
                    attr: {
                        'aria-expanded': sectionController().toString(),
                        'aria-controls': targetSection,
                        'aria-label': 'Toggle Archaeological Data section',
                    }
                "></i>

        <div class="rp-card-section" data-bind="visible: sectionController, attr: {id: targetSection}">
            <div style="display: inline-flex; width: 100%; justify-content: space-between;">
            </div>
        </div>
        <!-- /ko -->
    </div>

    <div class="rp-card-section">
        <!-- ko let: {targetSection: 'ancestral_remains_section', sectionController: ancestralRemainsVisible} -->
        <span class="rp-tile-title">7. Ancestral Remains</span>
        <i class="fa report-expander print-hide fa-angle-down" tabindex="0" role="button" data-target="ancestral_remains_section" data-bind="onEnterkeyClick, onSpaceClick, let: {sectionController: ancestralRemainsVisible, targetSection: 'ancestral_remains_section'},
                    css: {'fa-angle-down': sectionController(), 'fa-angle-right': !sectionController()},
                    click: function() {sectionController(!sectionController());},
                    attr: {
                        'aria-expanded': sectionController().toString(),
                        'aria-controls': targetSection,
                        'aria-label': 'Toggle Ancestral Remains section',
                    }
                "></i>

        <div class="rp-card-section" data-bind="visible: sectionController, attr: {id: targetSection}">
            <div style="display: inline-flex; width: 100%; justify-content: space-between;">
            </div>
        </div>
        <!-- /ko -->
    </div>

    <div class="rp-card-section">
        <!-- ko let: {targetSection: 'remarks_section', sectionController: remarksVisible} -->
        <span class="rp-tile-title">8. Remarks & Restricted Info</span>
        <i class="fa report-expander print-hide fa-angle-down" tabindex="0" role="button" data-target="remarks_section" data-bind="onEnterkeyClick, onSpaceClick, let: {sectionController: remarksVisible, targetSection: 'remarks_section'},
                    css: {'fa-angle-down': sectionController(), 'fa-angle-right': !sectionController()},
                    click: function() {sectionController(!sectionController());},
                    attr: {
                        'aria-expanded': sectionController().toString(),
                        'aria-controls': targetSection,
                        'aria-label': 'Toggle Remarks and Restricted Info section',
                    }
                "></i>

        <div class="rp-card-section" data-bind="visible: sectionController, attr: {id: targetSection}">
            <div style="display: inline-flex; width: 100%; justify-content: space-between;">
            </div>
        </div>
        <!-- /ko -->
    </div>

    <div class="rp-card-section">
        <!-- ko let: {targetSection: 'references_section', sectionController: referencesVisible} -->
        <span class="rp-tile-title">9. References & Related Documents</span>
        <i class="fa report-expander print-hide fa-angle-down" tabindex="0" role="button" data-target="references_section" data-bind="onEnterkeyClick, onSpaceClick, let: {sectionController: referencesVisible, targetSection: 'references_section'},
                    css: {'fa-angle-down': sectionController(), 'fa-angle-right': !sectionController()},
                    click: function() {sectionController(!sectionController());},
                    attr: {
                        'aria-expanded': sectionController().toString(),
                        'aria-controls': targetSection,
                        'aria-label': 'Toggle References and Related Documents section',
                    }
                "></i>

        <div class="rp-card-section" data-bind="visible: sectionController, attr: {id: targetSection}">
            <div style="display: inline-flex; width: 100%; justify-content: space-between;">
            </div>
        </div>
        <!-- /ko -->
    </div>

</div>
